{% extends "base.html" %}

{% block pagetitle %} Inventory {% endblock %}

{% block content %}
<br><br>
<form class='form-inline' method='post' action="{{url_for('.inventory')}}">
    <input class='form-control' type='text' name='item_name' placeholder='Item Name'/>
    <input class='form-control' type="number" step="0.01" name='price' placeholder='Price'/>
    <br><br>
    <input class='btn btn-primary' value="Add Item" type='submit' />
</form>

{% with messages = get_flashed_messages(category_filter=["add_item_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

{% with messages = get_flashed_messages(category_filter=["add_fail"]) %}

    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}


<h1>Items</h1>

<table class="table">
    {% for item in items %}
    <tr>
        <td>
            <form class='form-inline' method='post' action="{{url_for('.cart')}}">
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="hidden" name="item" value="{{ item['item_name'] }}">{{ item['item_name'] }}</input>&nbsp;&nbsp;&nbsp;&nbsp;&mdash;&nbsp;<input type="hidden" name="price" value="{{ item['price'] }}">{{ item['price'] }}</input> &nbsp;&nbsp;&nbsp; <input type="submit" value="Add to Cart"/>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}